cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.2
cryptography==42.0.7
markdown-it-py==3.0.0
mdurl==0.1.2
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
pycparser==2.22
Pygments==2.18.0
PyPDF3==1.0.6
pypdfium2==4.29.0
pypiwin32==223
pyttsx3==2.90
pywin32==306
rich==13.7.1
shellingham==1.5.4
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.11.0
